.genre-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
}

.genre-name{
  list-style-type: none;
  cursor: pointer;
  margin: 0 10px 5px 0;
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  background: linear-gradient(180deg, #303035, #1D1D28);
}

.genre-name:visited{
  color: inherit;
}

.genres-name{
  border: 1px solid #2496FF;
  background-color: rgba(70, 169, 214, 0.5);
  border-radius: 5px;
  padding: 0px 6px;
}