.slide{
  display: inline-block;
  width: 99%;
  border-radius: 25px;
  border: 1px solid #2496FF;
  overflow: hidden;
  margin-right: 12px;
  white-space: initial;
  background: linear-gradient(180deg, #303035, #1D1D28);

  &-item{
    display: flex;
    align-items: center;
    height: 360px;
    text-decoration: none;
    color: inherit;
    padding: 20px;

    & p{
      margin-right: 5px;
    }
  }
  
  &-info{
    color: white;
    .info{
      margin: 0 0 10px 0;
      &:last-child{
        margin: 0;
      }
    }
  }
  
  &-genres{
    display: flex;

    & p{
      margin-right: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 12px;
    }
    
    & p:last-child{
      margin-right: 0px;
    }
  }

  &-name{
    border: 1px solid #2496FF;
    background-color: rgba(70, 169, 214, 0.5);
    border-radius: 5px;
    padding: 0px 6px;
  }

  &-poster{
    margin-right: 20px;
  }
  
  &-synopsis{
    word-wrap: break-word;
  }
}

@media screen and (max-width: 1200px){
  .slide{
    margin-right: 11px;
  }
}

@media screen and (max-width: 1000px){
  .slide{
    width: 98%;
    margin-right: 14px;

    &-synopsis{
      display: none;
    }
  }
}

@media screen and (max-width: 700px){
  .slide{
    text-align: center;
    margin-right: 12px;
    &-item{
      display: block;
      height: 100%;
    }
    &-genres{
      justify-content: center;
    }
    &-poster{
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 700px){
  .slide{
    margin-right: 11px;
  }
}

@media screen and (max-width: 550px){
  .slide{
    width: 97%;
    margin-right: 13px;
  }
}

@media screen and (max-width: 430px){
  .slide{
    margin-right: 10px;
  }
}

@media screen and (max-width: 350px){
  .slide{
    margin-right: 8px;
  }
}