.navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 10px;
  color: white;
  gap: 10px;

  &-link {
    text-decoration: none;
    font-size: clamp(20px, 25px, 30px);
    color: inherit;
    transition: color 0.3s ease; 

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #2496ff;
    }
  }
}


.sidebar{
  padding-right: 20px;
  border-right: 1px solid #424257;
  flex-grow: 0 !important;
  -webkit-box-flex: 1 !important;
}

.active{
  color: #2496FF !important;
  text-decoration: line-through;
}

@media screen and (max-width: 1200px){
  .navigation{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .sidebar{
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #424257;
  }
}