.navigation{
  list-style-type: none;
  padding-left: 10px;

  &-link{
    text-decoration: none;
    font-size: 20px;

    &:visited{
      color: inherit;
    }

    &:hover{
      color: #2496FF;
    }
  }
}

.sidebar{
  padding-right: 20px;
  border-right: 1px solid #2496FF;
}

.active{
  color: #2496FF !important;
  text-decoration: line-through;
}