.navigation {
  display: flex;
  list-style-type: none;
  padding: 0 20px;
  color: white;
  gap: 15px;

  &-link {
    text-decoration: none;
    font-size: clamp(20px, 25px, 30px);
    color: inherit;
    transition: color 0.3s ease; 

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #2496ff;
    }
  }
}

.active{
  color: #2496FF !important;
  text-decoration: line-through;
}

@media screen and (max-width: 1200px){
  .navigation{
    display: flex;
    justify-content: space-around;
  }

  .sidebar{
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #424257;
  }
}