.title{
  display: inline-block;
  white-space: initial;
  padding: 10px;

  &-item{
    display: flex;
    align-items: center;
  }

  &-title_name{
    font-size: 30px;
  }
  
  &-item p{
    margin-right: 5px;
  }
  
  &-genres{
    display: flex;
  }

  &-poster-current{
    margin-right: 20px;
  }

  &-name{
    border: 1px solid #2496FF;
    background-color: rgba(70, 169, 214, 0.5);
    border-radius: 5px;
    padding: 0px 6px;
  }

  &-synopsis{
    word-wrap: break-word;
  }
}


