.header{
  border-bottom: 1px solid #2496FF;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.switcher{
  display: flex;
}

.topic{
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .header{
    flex-direction: column-reverse;
  }

  .switcher{
    padding: 5px;
  }

  .search-input{
    width: 98%;
  }
}