.error-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-button{
  margin: 10px 0 10px 0 !important;
  display: block;
  color: #2496FF !important;
}