.popup-titles-item{
    padding: 10px;
    border: 1px solid #2496FF;
    margin: 0 0px 20px 0;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, #303035, #1D1D28);
    &:hover{
        border: 2px solid #0068c9;
    }
}

.popup-title{
    margin: 0 0 5px 0;
    font-size: 14px;
}

.statistic-info{
    display: flex;
}

.popup-info{
    margin: 0 10px 0 0;
    &:last-child{
        margin: 0;
    }
}