body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #1D1D28, #303035);
  color: aliceblue;
  list-style-type: none;
}

#root{
  background: linear-gradient(180deg, #1D1D28, #303035);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root, .css-1v2lvtn-MuiPaginationItem-root{
  color: white !important;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.back-button{
  margin: 10px 0 10px 0 !important;
}

.wrapper{
  height: 100%;
  display: flex;
}

.wrapper-genres, .current-title-wrapper{
  height: 100vh;
  display: flex;
}

.search-input{
  height: 30px;
  width: 89%;
  border-radius: 30px;
  border: none;
  padding-left: 10px;
  outline-color: #2496FF;
}