body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #1D1D28, #303035);
  height: 100vh;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  border-bottom: 1px solid #2496FF;
  display: flex;
  padding-left: 10px;
  width: 100%;
  height: 100px;
}

.slider-section{
  border-bottom: 1px solid #2496FF;
  padding-left: 10px;
  width: 100%;
}

.sidebar a{
  color: aliceblue;
}

.sidebar{
  padding-right: 20px;
  border-right: 1px solid #2496FF;
}


/* Slideshow */

.slide-show{
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slide-show-slider{
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide{
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slide-show-dots{
  text-align: center;
}

.slide-show-dot{
  display: inline-block;
  height: 13px;
  width: 63px;
  border-radius: 16px;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #444444;
}

.slide-show-dot.active{
  background-color: #2496FF;
}

/* titles */

.titles-section{
  padding-left: 10px;
  width: 100%;
}

.titles-list{
  display: flex;
  justify-content: center;
}

.titles-item:last-child{
  margin-right: 0;
}

.titles-item{
  padding: 20px;
  border: 1px solid #2496FF;
  margin-right: 10px;
}

