body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #1D1D28, #303035);
  height: 150vh;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  border-bottom: 1px solid #2496FF;
  display: flex;
  padding-left: 10px;
  width: 100%;
  height: 100px;
}

.slider-section{
  border-bottom: 1px solid #2496FF;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 20px;
}

.sidebar a{
  color: aliceblue;
}

.sidebar{
  padding-right: 20px;
  border-right: 1px solid #2496FF;
  height: 150vh;
}


/* Slideshow */

.slide-show{
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
}

.slide-show-slider{
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide{
  display: inline-block;
  width: 99%;
  border-radius: 25px;
  border: 1px solid #2496FF;
  overflow: hidden;
  margin-right: 15px;
  white-space: initial;
  background: linear-gradient(180deg, #303035, #1D1D28);
}

.slide-item{
  display: flex;
}

.slide-item p{
  margin-right: 5px;
}

.slide-genres{
  display: flex;
}

.slide-poster{
  height: 100%;
  margin: 20px;
}

.slider-synopsis{
  word-wrap: break-word;
}

.slide-genres p{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.slide-genres p:last-child{
  margin-right: 0px;
}

.slide-name{
  border: 1px solid #2496FF;
  background-color: rgba(70, 169, 214, 0.5);
  border-radius: 5px;
  padding: 0px 6px;
}

/* Buttons */

.slide-show-dots{
  text-align: center;
}

.slide-show-dot{
  display: inline-block;
  height: 13px;
  width: 63px;
  border-radius: 16px;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #444444;
}

.slide-show-dot.active{
  background-color: #2496FF;
}

/* titles */

.titles-section{
  padding-left: 10px;
  width: 100%;
}

.titles-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.titles-item:last-child{
  margin-right: 0;
}

.titles-item p{
  word-wrap: break-word;
}

.titles-item{
  padding: 20px;
  border: 1px solid #2496FF;
  margin-right: 10px;
  width: 250px;
  border-radius: 20px;
  background: linear-gradient(180deg, #303035, #1D1D28);
}

.title-genres{
  display: flex;
  flex-wrap: wrap;
}

.title-poster{
  height: 220px;
  width: 165px;
  display: flex;
  margin: 0 auto;
}

.title-genres p{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.title-genres p:last-child{
  margin-right: 0px;
}

.genres-name{
  border: 1px solid #2496FF;
  background-color: rgba(70, 169, 214, 0.5);
  border-radius: 5px;
  padding: 0px 6px;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root, .css-1v2lvtn-MuiPaginationItem-root{
  color: white !important;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}