body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #1D1D28, #303035);
  color: aliceblue;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

#root{
  background: linear-gradient(180deg, #1D1D28, #303035);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  display : flex;
}

.home-wrapper{
  width: 100%;
}

.loading{
  display: flex;
  margin: 0 auto;
}

.back-button{
  margin: 10px 0 10px 0 !important;
  display: block;
}

.wrapper{
  height: 100%;
  display: flex;
}

.wrapper-height{
  height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper-popular{
  padding: 20px 0 10px 0;
}

.wrapper-genres, .current-title-wrapper, .wrapper-reviews{
  height: 100vh;
  display: flex;
}

.wrapper-genre{
  height: 100vh;
}

.search-input{
  height: 30px;
  width: 89%;
  border-radius: 30px;
  border: none;
  padding-left: 10px;
  outline-color: #2496FF;
}

@media screen and (max-width: 1200px) {
  .wrapper{
    display: block;
  }

  .wrapper-genres, .current-title-wrapper{
    display: block;
  }

  .current-title-wrapper{
    height: 100%;
  }
}

@media screen and (max-width: 920px) {
  .current-title-wrapper{
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .wrapper-genres{
    height: 100%;
  }
}

@media screen and (max-width: 430px) {
  .loading{
    width: 90%;
  }
}