.slide-show{
  margin: 0 auto;
  overflow: hidden;
  width: 81%;

  &-slider{
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  &-dots{
    text-align: center;
  }
  
  &-dot{
    display: inline-block;
    height: 13px;
    width: 63px;
    border-radius: 16px;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #444444;

    &.active{
      background-color: #76767a;
    }
  }
  &-loader{
    height: 479px;
  }
}